/S_Python_Files/Luxonis_Tiefenkamera/box-measurement/venv_windows
/S_Python_Files/_Prototyp_GUI/3d_scanner.log
/S_Python_Files/_Prototyp_GUI/distanz_calibration.json
/S_Python_Files/_Prototyp_GUI/weight_calibration.json